<ion-view title="Confirmation" nav-transition="none" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="confirmation-button-bar20" class="button-bar"></div>
    <div id="confirmation-button-bar21" class="button-bar"></div>
    <div id="confirmation-container3">
      <div id="confirmation-markdown13" class="show-list-numbers-and-dots">
        <pre>
          <code> </code>
        </pre>
      </div>
    </div>
    <div>
      <img src="img/D5YLq5xSQSaLHWC0Sd3v_tick-512.png" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="confirmation-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:25px;">
        <strong>Success</strong>
      </p>
    </div>
  </ion-content>
</ion-view>