<ion-view title="Declaration" nav-transition="none" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="declaration-form21" class="list">
      <div id="declaration-markdown8" class="show-list-numbers-and-dots">
        <ol>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus vitae felis aliquam interdum. Maecenas at odio justo. Nullam nec tortor ac elit aliquam euismod vitae sit amet orci. </li>
          <li>Nunc imperdiet id ligula ornare euismod. Nulla sit amet augue nec erat iaculis ornare. Morbi id magna non tellus sollicitudin facilisis eu at quam. Vestibulum a iaculis metus. </li>
          <li>Sed nec lectus tempus, lobortis nibh vel, molestie orci. Fusce vehicula ornare pharetra.</li>
        </ol>
      </div>
      <div class="list card" id="declaration-card24"></div>
      <ion-radio id="declaration-radio1">Accept</ion-radio>
    </form>
    <div id="declaration-button-bar17" class="button-bar"></div>
    <div id="declaration-button-bar18" class="button-bar"></div>
    <div id="declaration-button-bar19" class="button-bar">
      <a ui-sref="menu.confirmation" id="declaration-button20" class="button button-positive  button-block">Submit</a>
    </div>
  </ion-content>
</ion-view>