<ion-view title="Duty of Disclosure" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="dutyOfDisclosure-form4" class="list">
      <div id="dutyOfDisclosure-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
Four dollar toast chicharrones ramps, pop-up pinterest helvetica typewriter vaporware art party yuccie. Snackwave succulents iPhone, bushwick retro beard slow-carb raclette ethical locavore craft beer polaroid health goth. YOLO you probably haven't heard of them yuccie small batch, freegan drinking vinegar raclette. Tilde four loko craft beer truffaut. Lomo shabby chic pour-over, selfies jianbing copper mug artisan four loko man bun disrupt iceland bicycle rights raclette.
        </p>
      </div>
      <div class="list card" id="dutyOfDisclosure-card23"></div>
    </form>
    <div id="dutyOfDisclosure-button-bar3" class="button-bar">
      <a ui-sref="menu.policyInformation" id="dutyOfDisclosure-button12" class="button button-positive  button-block">Decline</a>
      <a ui-sref="menu.lifeInsuredDetails" id="dutyOfDisclosure-button13" class="button button-positive  button-block">Accept</a>
    </div>
    <div id="dutyOfDisclosure-button-bar4" class="button-bar"></div>
  </ion-content>
</ion-view>
