<ion-view title="Duty of Disclosure" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="dutyOfDisclosure-form4" class="list">
      <div id="dutyOfDisclosure-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Etsy gluten-free hashtag irony edison bulb 90's. Marfa crucifix poke etsy gastropub. Jianbing bitters williamsburg umami, unicorn disrupt paleo kitsch letterpress vinyl small batch pickled. IPhone slow-carb hoodie cred, thundercats 90's hella brooklyn vinyl church-key everyday carry poke food truck portland. 90's lyft actually offal poutine. Ugh lyft austin four loko, hashtag YOLO ramps unicorn fashion axe narwhal jianbing mixtape irony. Put a bird on it man bun pitchfork whatever, tilde skateboard hot chicken try-hard.</p>
      </div>
      <div class="list card" id="dutyOfDisclosure-card23"></div>
    </form>
    <div id="dutyOfDisclosure-button-bar3" class="button-bar">
      <a ui-sref="menu.policyInformation" id="dutyOfDisclosure-button12" class="button button-positive  button-block">Decline</a>
      <a ui-sref="menu.lifeInsuredDetails" id="dutyOfDisclosure-button13" class="button button-positive  button-block">Accept</a>
    </div>
    <div id="dutyOfDisclosure-button-bar4" class="button-bar"></div>
  </ion-content>
</ion-view>