<ion-view title="Life Insured Details 2" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="lifeInsuredDetails2-button-bar7" class="button-bar"></div>
    <form id="lifeInsuredDetails2-form16" class="list">
      <label class="item item-select" id="lifeInsuredDetails2-select3">
        <span class="input-label">Select</span>
        <select>
          <option>Postal</option>
          <option>Residential</option>
        </select>
      </label>
      <label class="item item-input" id="lifeInsuredDetails2-input9">
        <span class="input-label">Address Line 1</span>
        <input type="text" placeholder="" ng-model="lifeInsured.addressline1">
      </label>
      <label class="item item-input" id="lifeInsuredDetails2-input10">
        <span class="input-label">Address Line 2</span>
        <input type="text" placeholder="" ng-model="lifeInsured.addressline2">
      </label>
      <!--<label class="item item-input" id="lifeInsuredDetails2-input13">
        <span class="input-label">Street Name</span>
        <input type="text" placeholder="">
      </label>-->
      <label class="item item-input" id="lifeInsuredDetails2-input11">
        <span class="input-label">Suburb</span>
        <input type="text" placeholder="" ng-model="lifeInsured.suburb">
      </label>
      <label class="item item-input" id="lifeInsuredDetails2-input14">
        <span class="input-label">State</span>
        <input type="text" placeholder="" ng-model="lifeInsured.state">>
      </label>
      <label class="item item-input" id="lifeInsuredDetails2-input15">
        <span class="input-label">Postcode</span>
        <input type="text" placeholder="" ng-model="lifeInsured.postcode">>
      </label>
      <label class="item item-input" id="lifeInsuredDetails2-input12">
        <span class="input-label">Country</span>
        <input type="text" placeholder="" ng-model="lifeInsured.country">>
      </label>
    </form>
    <div id="lifeInsuredDetails2-button-bar8" class="button-bar">
      <a ui-sref="menu.policyOwnerDetails" id="lifeInsuredDetails2-button16" class="button button-positive  button-block">Next</a>
    </div>
  </ion-content>
</ion-view>