<ion-view title="Life Insured Details" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="lifeInsuredDetails-button-bar6" class="button-bar"></div>
    <form id="lifeInsuredDetails-form7" class="list">
      <label class="item item-input" id="lifeInsuredDetails-input6">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="lifeInsuredDetails-input4">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="lifeInsuredDetails-input7">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="lifeInsuredDetails-input8">
        <span class="input-label">DOB</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="lifeInsuredDetails-button-bar5" class="button-bar">
      <a ui-sref="menu.lifeInsuredDetails2" id="lifeInsuredDetails-button15" class="button button-positive  button-block">Next</a>
    </div>
  </ion-content>
</ion-view>