<ion-view title="Personal Statement" nav-transition="none" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="personalStatement-form22" class="list">
      <h id="personalStatement-heading9" style="color:#000000;">Have you been in your current role for 2 or more years?</h>
      <ion-checkbox id="personalStatement-checkbox24">Yes</ion-checkbox>
      <ion-checkbox id="personalStatement-checkbox25">No</ion-checkbox>
    </form>
    <div id="personalStatement-button-bar15" class="button-bar"></div>
    <form id="personalStatement-form24" class="list">
      <h id="personalStatement-heading11" style="color:#000000;">Are you employed on a permanent basis (25 hours+ per week)</h>
      <ion-checkbox id="personalStatement-checkbox28">Yes</ion-checkbox>
      <ion-checkbox id="personalStatement-checkbox29">No</ion-checkbox>
    </form>
    <form id="personalStatement-form25" class="list">
      <h id="personalStatement-heading12" style="color:#000000;">Do you work from home more than 50% of your time?</h>
      <ion-checkbox id="personalStatement-checkbox30">Yes</ion-checkbox>
      <ion-checkbox id="personalStatement-checkbox31">No</ion-checkbox>
    </form>
    <form id="personalStatement-form26" class="list">
      <h id="personalStatement-heading13" style="color:#000000;">Does your job inolved any of the following?</h>
      <ion-checkbox id="personalStatement-checkbox33">Flying except as a passenger</ion-checkbox>
      <ion-checkbox id="personalStatement-checkbox32">Offshore oil, gas and mining</ion-checkbox>
      <ion-checkbox id="personalStatement-checkbox34">Armed forces incl. reserves</ion-checkbox>
    </form>
    <form id="personalStatement-form27" class="list">
      <h id="personalStatement-heading14" style="color:#000000;">Do you earn an income from another job?</h>
      <ion-checkbox id="personalStatement-checkbox35">Yes</ion-checkbox>
      <ion-checkbox id="personalStatement-checkbox36">No</ion-checkbox>
    </form>
    <form id="personalStatement-form28" class="list">
      <h id="personalStatement-heading15" style="color:#000000;">Does your total income declared on this application include income from your other job?</h>
      <ion-checkbox id="personalStatement-checkbox38">Yes</ion-checkbox>
      <ion-checkbox id="personalStatement-checkbox39">No</ion-checkbox>
    </form>
    <div id="personalStatement-button-bar16" class="button-bar">
      <button id="personalStatement-button18" class="button button-positive  button-block">Next</button>
    </div>
  </ion-content>
</ion-view>