<ion-view title="Policy Information" hide-back-button="true" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="policyInformation-form1" class="list">
      <label class="item item-select" id="policyInformation-select1">
        <span class="input-label">Type of Change</span>
        <select>
          <option>Increase</option>
          <option>Alteration</option>
        </select>
      </label>
      <div class="list card" id="policyInformation-card22">
        <form id="policyInformation-form2" class="list">
          <label class="item item-input" id="policyInformation-search1">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Policy Number">
          </label>
          <ion-item id="policyInformation-list-item17">93134560</ion-item>
          <ion-item id="policyInformation-list-item18">93134568</ion-item>
          <ion-item id="policyInformation-list-item19">93134570</ion-item>
        </form>
      </div>
    </form>
    <div id="policyInformation-button-bar2" class="button-bar">
      <a ui-sref="menu.dutyOfDisclosure" id="policyInformation-button11" class="button button-positive  button-block">Next</a>
    </div>
    <div id="policyInformation-button-bar1" class="button-bar"></div>
  </ion-content>
</ion-view>