<ion-view title="Reason for Change" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="reasonForChange-form8" class="list">
      <h id="reasonForChange-heading1" style="color:#000000;">Are you increasing sums insured or monthly benefit?</h>
      <ion-checkbox id="reasonForChange-checkbox3">Yes</ion-checkbox>
      <ion-checkbox id="reasonForChange-checkbox4">No</ion-checkbox>
    </form>
    <form id="reasonForChange-form10" class="list">
      <h id="reasonForChange-heading2" style="color:#000000;">Are you changing your premium structure?</h>
      <ion-checkbox id="reasonForChange-checkbox5">Yes</ion-checkbox>
      <ion-checkbox id="reasonForChange-checkbox6">No</ion-checkbox>
    </form>
    <div id="reasonForChange-button-bar11" class="button-bar"></div>
    <form id="reasonForChange-form11" class="list">
      <h id="reasonForChange-heading3" style="color:#000000;">Are you changing occupation?</h>
      <ion-checkbox id="reasonForChange-checkbox7">Yes</ion-checkbox>
      <ion-checkbox id="reasonForChange-checkbox8">No</ion-checkbox>
    </form>
    <div id="reasonForChange-button-bar12" class="button-bar">
      <button id="reasonForChange-button10" class="button button-positive  button-block">Next</button>
    </div>
  </ion-content>
</ion-view>