<ion-view title="Reason for Change" nav-transition="none" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="reasonForChange2-form12" class="list">
      <h4 id="reasonForChange2-heading4" style="color:#000000;">What are you changing?</h4>
      <ion-checkbox id="reasonForChange2-checkbox9">Sums Insured</ion-checkbox>
      <ion-checkbox id="reasonForChange2-checkbox10">Premium Structure</ion-checkbox>
      <ion-checkbox id="reasonForChange2-checkbox12">Occupation Class</ion-checkbox>
      <ion-checkbox id="reasonForChange2-checkbox13">Benefit Period</ion-checkbox>
      <ion-checkbox id="reasonForChange2-checkbox14">Wait Period</ion-checkbox>
      <ion-checkbox id="reasonForChange2-checkbox15">Medical Loading/Exclusion</ion-checkbox>
    </form>
    <div id="reasonForChange2-button-bar13" class="button-bar"></div>
    <div id="reasonForChange2-button-bar14" class="button-bar">
      <a ui-sref="menu.personalStatement" id="reasonForChange2-button14" class="button button-positive  button-block">Next</a>
    </div>
  </ion-content>
</ion-view>